#viewport {
  margin-top: 17%;
}

#logo {
  display: block;
  margin: auto;
}

#search-box {
  margin: auto;
  margin-top: 25px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 1.3em;
  height: 40px;
  width: 50%;
}

#mag-glass {
  display: block;
  position: relative;
  left: 12px;
  top: 13px;
  width: 15px;
}

#search {
  display: block;
  margin: auto;
  position: relative;
  bottom: 11px;
  width: 80%;
  height: 80%;
  border: none;
}
