#viewport {
  margin-top: 17%;
}

#logo {
  display: block;
  margin: auto;
}

#search-box {
  margin: auto;
  margin-top: 25px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 1.3em;
  height: 40px;
  width: 40%;
}

#mag-glass {
  display: block;
  position: relative;
  left: 12px;
  top: 13px;
  width: 15px;
}

#search {
  display: block;
  margin: auto;
  position: relative;
  bottom: 11px;
  width: 80%;
  height: 80%;
  border: none;
}

.search-buttons {
  display: block;
  background-color: #f3f3f3;
  color: #606469;
  margin-top: 30px;
  width: 141px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

#search-button {
  float: left;
  margin-left: 422px;
}

#lucky-button {
  float: right;
  margin-right: 422px;
}